{% load static %}
{% load humanize %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Registrar Perfil de Puesto{% endblock %}
        </title>
        <link rel="stylesheet"
              href="{% static 'css/perfilpuesto/perfilpuesto.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="icon"
              href="{% static 'img/promacoico.ico' %}"
              type="image/x-icon">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </head>
    <body>
        <div class="container1">
            <br>
            <br>
            <div class="cinta1div">
                <div class="cinta"></div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="imgdiv">
                <h1 style="font-size: 50px">Perfil de Puesto</h1>
            </div>
            <div class="imgdiv">
                <img src="{% static 'img/LOGOPRINCIPAL.png' %}" alt="Logo PROMACO">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="cinta2div">
                <div class="cinta2"></div>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div class="container2">
            <form enctype="multipart/form-data" autocomplete="off">
                <div class="encabezado">
                    <h3>1.  IDENTIFICACION DEL CARGO</h3>
                    <h5 id="text">PERFIL EXISTENTE</h5>
                    <button type="button"
                            id="toggleButton"
                            class="btn classbotones"
                            onclick="toggleTextAndField()">PUESTO NUEVO</button>
                </div>
                <table class="tabla-informacion">
                    <tr>
                        <td>
                            <strong>EMPRESA</strong>
                        </td>
                        <td class="selectpuesto">
                            <select name="empresa_select" id="empresa_select">
                                <option value="" selected disabled>Seleccione una Empresa</option>
                                {% for item in all_empresas %}<option value="{{ item.id }}">{{ item.nombre_empresa }}</option>{% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>NOMBRE DEL CARGO</strong>
                        </td>
                        <td class="selectpuesto" id="dynamicField">
                            <select name="nombre_cargo" id="nombre_cargo" required>
                                <option value="" selected disabled>Seleccione un Puesto</option>
                                {% for item in all_puestos %}<option value="{{ item.id }}">{{ item.nombre_puestos }}</option>{% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>DEPARTAMENTO</strong>
                        </td>
                        <td class="selectpuesto">
                            <select name="departamento_select" id="departamento_select">
                                <option value="" selected disabled>Seleccione un Departamento</option>
                                {% for item in all_departamentos %}<option value="{{ item.id }}">{{ item.nombre_departamento }}</option>{% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>CARGO AL QUE REPORTA</strong>
                        </td>
                        <td class="selectpuesto">
                            <select name="cargo_reportan_select" id="cargo_reportan_select">
                                <option value="" selected disabled>Seleccione un Puesto</option>
                                {% for item in all_puestos %}<option value="{{ item.id }}">{{ item.nombre_puestos }}</option>{% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>CARGOS QUE LE REPORTAN</strong>
                        </td>
                        <td class="selectpuesto">
                            <select name="cargo_lereportan_select"
                                    id="cargo_lereportan_select"
                                    multiple
                                    size="10">
                                {% for item in all_puestos %}<option value="{{ item.id }}">{{ item.nombre_puestos }}</option>{% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <h4>2.  REQUISITOS Y CONDICIONES DEL PERFIL</h4>
                <table class="tabla-informacion">
                    <tr>
                        <td>
                            <strong>EDUCACIÓN UNIVERSITARIA</strong>
                        </td>
                        <td class="selectpuesto">
                            <input type="text"
                                   name="educacion_input"
                                   id="educacion_input"
                                   class="inputpuesto"
                                   placeholder="Ingrese la educación">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>POSTGRADOS / ESPECIALIZACIONES</strong>
                        </td>
                        <td class="selectpuesto">
                            <input type="text"
                                   name="postgrado_especialidades"
                                   id="postgrado_especialidades"
                                   class="inputpuesto"
                                   placeholder="Ingrese los postgrado y especializaciones">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>FORMACIÓN COMPLEMENTARIA</strong>
                        </td>
                        <td class="selectpuesto">
                            <input type="text"
                                   name="formacion_complementaria"
                                   id="formacion_complementaria"
                                   class="inputpuesto"
                                   placeholder="Formación complementaria">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>IDIOMAS (ESPECIFICAR NIVEL)</strong>
                        </td>
                        <td class="selectpuesto1" style="display: flex; width: 100%;">
                            <input type="text"
                                   name="idioma_input"
                                   id="idioma_input"
                                   class="inputpuesto1"
                                   placeholder="Ingrese el idioma">
                            <p>|</p>
                            <select name="nivel_idioma_select" id="nivel_idioma_select">
                                <option value="" selected disabled>Seleccione el nivel</option>
                                <option value="PRINCIPIANTE">PRINCIPIANTE</option>
                                <option value="INTERMEDIO">INTERMEDIO</option>
                                <option value="AVANZADO">AVANZADO</option>
                                <option value="NATIVO">NATIVO</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <table class="tabla-informacion">
                    <tr>
                        <td colspan="3" style="text-align:center; padding: 10px;">
                            <strong>COMPETENCIAS DEL CARGO</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"
                            style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px">
                            <strong>TÉCNICAS</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>AÑOS DE EXPERIENCIA</strong>
                        </td>
                        <td colspan="2" class="selectpuesto">
                            <input type="text"
                                   name="anosexperiencia_input"
                                   id="anosexperiencia_input"
                                   class="inputpuesto"
                                   placeholder="Ingrese la cantidad de años de experiencia que desea">
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <tr>
                            <td colspan="2"
                                style="text-align:center;
                                       background-color: #FFF59D;
                                       color:black;
                                       padding: 10px">
                                <strong>CONDUCTUALES</strong>
                            </td>
                            <td style="text-align:center;
                                       background-color: #FFF59D;
                                       color:black;
                                       padding: 10px">NIVEL REQURIDO</td>
                        </tr>
                        <tr>
                            <td style="text-align:center; justify-content:center;">
                                <strong>PENSAMIENTO ESTRATEGICO</strong>
                            </td>
                            <td class="selectpuesto" style="text-align:justify; padding: 10px;">
                                <p>
                                    Comprende rápidamente los cambios del entorno, las oportunidades del mercado, las amenazas competitivas y las fortalezas y debilidades de la organización a la hora de identificar la mejor respuesta estratégica. Posee la capacidad para detectar nuevas oportunidades de negocio, realizar alianzas estratégicas con clientes, proveedores y competidores. Puede adecuarse a los cambios de contexto e interpretar adecuadamente la información de la que dispone. Identificar a las personas que podrían ayudarlo alcanzar objetivos. Es capaz de leer al equipo e identificar la capacidad del mismo ante un desafío.
                                </p>
                            </td>
                            <td class="selectpuesto">
                                <select name="nivel_pensamiento_select"
                                        id="nivel_pensamiento_select"
                                        class="selectcentrado">
                                    <option value="" selected disabled>Seleccione el nivel</option>
                                    <option value="Alto">Alto</option>
                                    <option value="Medio">Medio</option>
                                    <option value="Bajo">Bajo</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; justify-content:center;">
                                <strong>ENFOQUE AL CLIENTE</strong>
                            </td>
                            <td class="selectpuesto" style="text-align:justify; padding: 10px;">
                                <p>
                                    Identifica las necesidades del cliente, muestra deseo de ayudar, comprender y satisfacer su demanda. Implica esforzarse por conocer y resolver los problemas a través de la prestación eficaz de un servicio y la actitud positiva permanente que brindé valor agregado y superé toda expectativa. Incluye comunicación asertiva y sincera con el cliente.
                                </p>
                            </td>
                            <td class="selectpuesto">
                                <select name="nivel_cliente_select"
                                        id="nivel_cliente_select"
                                        class="selectcentrado">
                                    <option value="" selected disabled>Seleccione el nivel</option>
                                    <option value="Alto">Alto</option>
                                    <option value="Medio">Medio</option>
                                    <option value="Bajo">Bajo</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; justify-content:center;">
                                <strong>PLANIFICACION Y ORGANIZACIÓN</strong>
                            </td>
                            <td class="selectpuesto" style="text-align:justify; padding: 10px;">
                                <p>
                                    Determina eficazmente las metas y prioridades de la tarea, área y/o proyecto, estipulando acciones y plazos requeridos. Desarrolla un plan de trabajo para optimizar los recursos y alcanzar los objetivos, incluye la instrumentación de mecanismos de seguimiento y verificación de información.
                                </p>
                            </td>
                            <td class="selectpuesto">
                                <select name="nivel_planificacion_select"
                                        id="nivel_planificacion_select"
                                        class="selectcentrado">
                                    <option value="" selected disabled>Seleccione el nivel</option>
                                    <option value="Alto">Alto</option>
                                    <option value="Medio">Medio</option>
                                    <option value="Bajo">Bajo</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; justify-content:center;">
                                <strong>COMUNICACIÓN</strong>
                            </td>
                            <td class="selectpuesto" style="text-align:justify; padding: 10px;">
                                <p>
                                    Escucha y expresa conceptos e ideas de forma efectiva y asertiva. Sabe cuándo y a quien debe dirigirse para llevar a cabo su propósito. Escucha activamente, incluye la capacidad de comunicarse con un lenguaje verbal y no verbal adecuado y su redacción clara y precisa.
                                </p>
                            </td>
                            <td class="selectpuesto">
                                <select name="nivel_comunicacion_select"
                                        id="nivel_comunicacion_select"
                                        class="selectcentrado">
                                    <option value="" selected disabled>Seleccione el nivel</option>
                                    <option value="Alto">Alto</option>
                                    <option value="Medio">Medio</option>
                                    <option value="Bajo">Bajo</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; justify-content:center;">
                                <strong>ORIENTACION AL LOGRO</strong>
                            </td>
                            <td class="selectpuesto" style="text-align:justify; padding: 10px;">
                                <p>
                                    Logra resultados actuando con diligencia, agilidad y sentido de urgencia ante las decisiones importantes, alineación de esfuerzos y monitoreando el progreso de sus objetivos. Tiene la capacidad de administrar los procesos establecidos, de forma tal que no interfieran con la consecución de metas, gestionando oportunamente estándares, mejorando y manteniendo altos niveles de rendimiento en el marco de las estrategias de la organización.
                                </p>
                            </td>
                            <td class="selectpuesto">
                                <select name="nivel_logro_select"
                                        id="nivel_logro_select"
                                        class="selectcentrado">
                                    <option value="" selected disabled>Seleccione el nivel</option>
                                    <option value="Alto">Alto</option>
                                    <option value="Medio">Medio</option>
                                    <option value="Bajo">Bajo</option>
                                </select>
                            </td>
                        </tr>
                    </tr>
                </table>
                <br>
                <table class="tabla-informacion">
                    <tr>
                        <td style="text-align:center; padding: 10px;">
                            <strong>MISIÓN DEL CARGO Objetivo/ Propósito</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style=" background-color:white;">
                            <textarea name=""
                                      id="mision_cargo"
                                      placeholder="MISION DEL CARGO"
                                      class="inputpuesto"
                                      rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:white; color:black;">
                            <br>
                            <p>Organigrama</p>
                            <div class="file-drop-area">
                                <input type="file" class="file-input" id="fileInput_org" accept="image/*" />
                                <div class="file-message">Arrastra tu archivo aquí o haz clic para seleccionar</div>
                                <img id="previewImage_org"
                                     src=""
                                     alt="Vista previa de la imagen"
                                     style="display:none">
                            </div>
                            <br>
                            <br>
                        </td>
                    </tr>
                </table>
                <table class="tabla-informacion2" id="tablaFunciones">
                    <tr>
                        <td colspan="4" style="text-align:center; padding: 10px;">
                            <strong>FUNCIONES DEL CARGO</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px">N*</td>
                        <td style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px">Función: Qué hace, sobre qué y con qué fines</td>
                        <td style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px">Periodicidad</td>
                        <td style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px">
                            Importancia de la función para lograr el objetivo del cargo (A-B-C)
                        </td>
                    </tr>
                    <!-- Primera fila dinámica -->
                    <tr class="funcionRow">
                        <td class="numero-columna"
                            style="text-align:center;
                                   background-color: white;
                                   color:black">1</td>
                        <td class="selectpuesto"
                            style="text-align:center;
                                   background-color: white;
                                   color:black">
                            <input type="text"
                                   name="funcion[]"
                                   class="inputpuesto funcionInput"
                                   placeholder="Ingrese la Funcion">
                        </td>
                        <td class="selectpuesto"
                            style="text-align:center;
                                   background-color: white;
                                   color:black;
                                   width: 20%">
                            <select name="periodicidad[]" class="inputpuesto">
                                <option value="" selected disabled>Seleccione una Periodicidad</option>
                                <option value="SEMANAL">SEMANAL</option>
                                <option value="DIARIA">DIARIA</option>
                                <option value="MENSUAL">MENSUAL</option>
                                <option value="SEMANAL Y MENSUAL">SEMANAL Y MENSUAL</option>
                            </select>
                        </td>
                        <td class="selectpuesto"
                            style="text-align:center;
                                   background-color: white;
                                   color:black;
                                   width: 20%">
                            <select name="importancia[]" class="inputpuesto">
                                <option value="" selected disabled>Seleccione la importancia</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br>
                <p>A: Muy importantes para lograr los objetivos marcados.</p>
                <p>B: Medianamente importante para lograr los objetivos.</p>
                <p>C: Prácticamente sin importancia para lograr los objetivos.</p>
                <br>
                <table class="tabla-informacion1" id="tablaDificultades">
                    <tr>
                        <td colspan="1" style="text-align:center; padding: 10px;">
                            <strong>ALCANCE DE LAS DIFICULTADES (RETOS)</strong>
                            <br>
                            <small>Son las situaciones más complejas que el cargo podrá afrontar/resolver en el desarrollo de su trabajo o las que pueden generar retrasos.</small>
                        </td>
                    </tr>
                    <tr class="funcionRow">
                        <td class="selectpuesto"
                            style="text-align:center;
                                   background-color: white;
                                   color:black">
                            <input type="text"
                                   name="dificultad[]"
                                   class="inputpuesto funcionInput"
                                   placeholder="Ingrese la Dificultad">
                        </td>
                    </tr>
                </table>
                <br>
                <table class="tabla-informacion1" id="tablaMateriales_equipos">
                    <tr>
                        <td style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px"
                            colspan="3">
                            <strong>Materiales y Equipos</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding: 10px; background-color:white;">
                            <div class="checkbox-container">
                                <label class="custom-checkbox">
                                    Computador
                                    <input type="checkbox" name="material[]" value="COMPUTADOR">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    Celular
                                    <input type="checkbox" name="material[]" value="CELULAR">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    Uniforme
                                    <input type="checkbox" name="material[]" value="UNIFORME">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    Escritorio
                                    <input type="checkbox" name="material[]" value="ESCRITORIO">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    Licencia SAP
                                    <input type="checkbox" name="material[]" value="LICENCIA SAP">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    Licencia IVEND
                                    <input type="checkbox" name="material[]" value="LICENCIA IVEND">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    Silla
                                    <input type="checkbox" name="material[]" value="SILLA">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    Correo
                                    <input type="checkbox" name="material[]" value="CORREO">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox"
                                       id="otrosLabel"
                                       style="display: flex;
                                              align-items: center">
                                    Otros
                                    <input type="checkbox"
                                           name="material[]"
                                           id="checkboxOtros_equipos"
                                           value="Otros">
                                    <span class="checkmark"></span>
                                    <input type="text"
                                           id="inputOtros_equipos"
                                           name="material_otros"
                                           placeholder="Especifica otros"
                                           style="display: none"
                                           class="input-limpio" />
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <table class="tabla-informacion1">
                    <tr>
                        <td colspan="3" style="text-align:center; padding: 10px;">
                            <strong>CONDICIONES</strong>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2"
                            style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px">Horarios, turnos y condiciones relacionadas</td>
                        <td colspan="2" class="selectpuesto" style=" background-color:white;">
                            <label class="custom-checkbox"
                                   style="display:flex;
                                          justify-content:center;
                                          align-items:center;
                                          margin-top: 15px;
                                          margin-left: 10px">
                                Residir en el Área
                                <input type="checkbox" id="recidirarea" value="Recidir en el Area">
                                <span class="checkmark"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="selectpuesto" style=" background-color:white;">
                            <label for="hora_entrada"
                                   style="flex: 1;
                                          margin: 0;
                                          color:black;
                                          margin-left:80px">
                                Entrada:
                                <input type="time"
                                       name="hora_entrada"
                                       id="hora_entrada"
                                       class="inputpuesto"
                                       required>
                            </label>
                            <label for="hora_salida"
                                   style="flex: 1;
                                          margin: 0;
                                          color:black;
                                          margin-left:100px">
                                Salida:
                                <input type="time"
                                       name="hora_salida"
                                       id="hora_salida"
                                       class="inputpuesto"
                                       required>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px">Otros que se consideren importantes</td>
                        <td colspan="2" style=" background-color:white;">
                            <textarea name="" id="otros_importantes_textarea" class="inputpuesto" rows="3"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;
                                   background-color: #FFF59D;
                                   color:black;
                                   padding: 10px">Plan de compensación</td>
                        <td colspan="2" style="background-color:white; padding: 10px;">
                            <div class="custom-checkbox-container">
                                <!-- Primera parte: Plan de compensación -->
                                <label class="custom-checkbox2">
                                    Salario Base
                                    <input type="checkbox" name="compensacion[]" value="SALARIO BASE">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Comisión
                                    <input type="checkbox" name="compensacion[]" value="COMISION">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Bono
                                    <input type="checkbox" name="compensacion[]" value="BONO">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Depreciación y Combustible
                                    <input type="checkbox"
                                           name="compensacion[]"
                                           value="DEPRECIACION Y COMBUSTIBLE">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Hospedaje
                                    <input type="checkbox" name="compensacion[]" value="HOSPEDAJE">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Otros
                                    <input type="checkbox"
                                           id="otrosCheckboxCompensacion"
                                           name="compensacion[]"
                                           value="Otros">
                                    <span class="checkmark2"></span>
                                    <input type="text"
                                           id="inputOtrosCompensacion"
                                           name="compensacion_otros"
                                           placeholder="Especifica otros"
                                           style="display:none;
                                                  margin-left: 10px"
                                           class="input-limpio">
                                </label>
                                <!-- Separador: Beneficio Promaco -->
                                <div style="width: 100%; text-align: left; padding: 10px 0;">
                                    <strong>Beneficio Promaco</strong>
                                </div>
                                <label class="custom-checkbox2">
                                    Seguro médico privado
                                    <input type="checkbox" name="beneficio[]" value="SEGURO MEDICO PRIVADO">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Seguro social
                                    <input type="checkbox" name="beneficio[]" value="SEGURO SOCIAL">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Permiso de estudio
                                    <input type="checkbox" name="beneficio[]" value="PERMISO DE ESTUDIO">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Bono supermercado
                                    <input type="checkbox" name="beneficio[]" value="BONO SUPERMERCADO">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Bono café Promaco
                                    <input type="checkbox" name="beneficio[]" value="BONO CAFE PROMACO">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Descuento en supermercado
                                    <input type="checkbox" name="beneficio[]" value="DESCUENTO EN SUPERMERCADO">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Descuento en clínicas y laboratorios
                                    <input type="checkbox"
                                           name="beneficio[]"
                                           value="DESCUENTO EN CLINICA Y LAVORATORIOS">
                                    <span class="checkmark2"></span>
                                </label>
                                <label class="custom-checkbox2">
                                    Seguro de vehículo
                                    <input type="checkbox" name="beneficio[]" value="SEGURO DE VEHICULO">
                                    <span class="checkmark2"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <table class="tabla-informacion">
                    <tr>
                        <td colspan="2" style="text-align:center; padding: 10px;">
                            <strong>PRUEBAS PSICOMETRICAS</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; padding: 10px;">Nivel de la Prueba</td>
                        <td class="selectpuesto">
                            <select name="nivel_psicosmart" id="nivel_psicosmart" class="selectcentrado">
                                <option value="" selected disabled>Seleccione el nivel de la prueba</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"
                            style="text-align:center;
                                   padding: 10px;
                                   display:none;
                                   width: 200%"
                            id="pruebas_td1">
                            <strong>Nombres de las Pruebas</strong>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;
                                   background-color: white;
                                   color:black;
                                   padding: 10px;
                                   display:none;
                                   width: 200%"
                            id="pruebas_td"></td>
                    </tr>
                </table>
                <br>
                <table class="tabla-informacion1" id="tablaMateriales_pruebas">
                    <tr>
                        <td colspan="3" style="padding: 10px; background-color:white;">
                            <div class="checkbox-container">
                                <label class="custom-checkbox">
                                    Montacarga
                                    <input type="checkbox"
                                           name="montacargas"
                                           id="montacargas"
                                           value="MONTACARGA">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-checkbox">
                                    Equipo pesado
                                    <input type="checkbox"
                                           name="equipo_pesado"
                                           id="equipo_pesado"
                                           value="EQUIPO PESADO">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <table class="tabla-informacion1" id="tablaIndicadores">
                    <tr>
                        <td style="text-align:center; padding: 10px;">
                            <strong>Principales Indicadores</strong>
                        </td>
                    </tr>
                    <tr class="indicadorRow">
                        <td class="selectpuesto"
                            style="text-align:center;
                                   background-color: white;
                                   color:black">
                            <input type="text"
                                   name="indicador[]"
                                   class="inputpuesto indicadorInput"
                                   placeholder="Ingrese el Indicador">
                        </td>
                    </tr>
                </table>
                <br>
                <br>
                <div style="width: 100%;
                            display:flex;
                            justify-content:center;
                            aling-items: center">
                    <button type="button" id="btn-register-perfilpuesto" class="btn classbotones">Guardar</button>
                </div>
                <br>
            </div>
        </form>
        <button class="print-button1"
                onclick="window.location.href='{% url 'perfilpuesto' %}'">Volver</button>
        <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/perfilpuesto/perfilpuesto.js' %}"></script>
        <script src="{% static 'js/plugins/sweetaler2.min.js' %}"></script>
        <script>
document.getElementById("btn-register-perfilpuesto").onclick = function(event) {
    event.preventDefault(); // Prevenir el envío por defecto del formulario

    const formData = new FormData();

    // 1. Captura tipo_perfil
    const tipoPerfil = document.getElementById('text').innerHTML === "PERFIL NUEVO" ? "PERFIL NUEVO" : "PERFIL EXISTENTE";
    formData.append('tipo_perfil', tipoPerfil);
    formData.append('empresa_select', document.getElementById('empresa_select').value);
    formData.append('nombre_cargo', document.getElementById('nombre_cargo').value);
    formData.append('departamento_select', document.getElementById('departamento_select').value);
    formData.append('cargo_reportan_select', document.getElementById('cargo_reportan_select').value);
    const leReportanSelect = document.getElementById('cargo_lereportan_select');
    const selectedOptions = Array.from(leReportanSelect.selectedOptions).map(option => option.value);
    formData.append('cargo_lereportan_select', JSON.stringify(selectedOptions));


    // 3. Educación y formación
    formData.append('educacion_input', document.getElementById('educacion_input').value);
    formData.append('postgrado_especialidades', document.getElementById('postgrado_especialidades').value);
    formData.append('formacion_complementaria', document.getElementById('formacion_complementaria').value);
    formData.append('idioma_input', document.getElementById('idioma_input').value);
    formData.append('nivel_idioma_select', document.getElementById('nivel_idioma_select').value);

    // 4. Competencias
    formData.append('anosexperiencia_input', document.getElementById('anosexperiencia_input').value);
    formData.append('nivel_pensamiento_select', document.getElementById('nivel_pensamiento_select').value);
    formData.append('nivel_cliente_select', document.getElementById('nivel_cliente_select').value);
    formData.append('nivel_planificacion_select', document.getElementById('nivel_planificacion_select').value);
    formData.append('nivel_comunicacion_select', document.getElementById('nivel_comunicacion_select').value);
    formData.append('nivel_logro_select', document.getElementById('nivel_logro_select').value);

    // 5. Mision y organigrama
    formData.append('mision_cargo', document.getElementById('mision_cargo').value);

    const imagenInput = document.getElementById('fileInput_org');
    if (imagenInput.files && imagenInput.files[0]) {
        const ext = imagenInput.files[0].name.split('.').pop().toLowerCase();
        if (ext === 'jpg' || ext === 'png') {
            formData.append('ruta_organigrama', imagenInput.files[0]);
        } else {
            Swal.fire({
                title: 'Archivo no válido',
                text: 'Por favor, sube una imagen en formato JPG o PNG.',
                icon: 'error',
                confirmButtonText: 'Aceptar',
                customClass: { confirmButton: 'custom-alertas-button' }
            });
            return;
        }
    }

    // 5. Funciones del cargo
    const funciones = document.querySelectorAll('input[name="funcion[]"]');
    const periodicidades = document.querySelectorAll('select[name="periodicidad[]"]');
    const importancias = document.querySelectorAll('select[name="importancia[]"]');

    let lista_funciones = [];
    let lista_periodicidades = [];
    let lista_importancias = [];

    funciones.forEach((input, i) => {
        if (input.value && periodicidades[i] && importancias[i]) {
            lista_funciones.push(input.value);
            lista_periodicidades.push(periodicidades[i].value);
            lista_importancias.push(importancias[i].value);
        }
    });

    // Enviar por separado como listas JSON
    formData.append('funcion_lista', JSON.stringify(lista_funciones));
    formData.append('periodicidad_lista', JSON.stringify(lista_periodicidades));
    formData.append('importancia_lista', JSON.stringify(lista_importancias));



    // 6. Dificultades dinámicas
    let dificultadesArray = [];
    document.querySelectorAll('input[name="dificultad[]"]').forEach(input => {
        if (input.value.trim()) dificultadesArray.push(input.value.trim());
    });
    formData.append('retos', JSON.stringify(dificultadesArray));


    // 7. Materiales seleccionados
    let materialesSeleccionados = [];
    document.querySelectorAll('input[name="material[]"]:checked').forEach(checkbox => {
        if (checkbox.value === 'Otros') {
            const otrosVal = document.getElementById('inputOtros_equipos').value.trim();
            if (otrosVal) materialesSeleccionados.push(otrosVal);
        } else {
            materialesSeleccionados.push(checkbox.value);
        }
    });
    formData.append('materiales_equipos', JSON.stringify(materialesSeleccionados));

    // 9. Checkbox "Residir en el Área" y input "Turno-Horario"
    formData.append('residir_en_area', document.getElementById('recidirarea').checked);
    formData.append('hora_entrada', document.getElementById('hora_entrada').value);
    formData.append('hora_salida', document.getElementById('hora_salida').value);

    // Otros importantes
    formData.append('otros', document.getElementById('otros_importantes_textarea').value);

    // Plan de compensación
    let compensacionesSeleccionadas = [];
    document.querySelectorAll('input[name="compensacion[]"]:checked').forEach(checkbox => {
        if (checkbox.value === 'Otros') {
            const valOtrosComp = document.getElementById('inputOtrosCompensacion').value.trim();
            if (valOtrosComp) compensacionesSeleccionadas.push(valOtrosComp);
        } else {
            compensacionesSeleccionadas.push(checkbox.value);
        }
    });
    formData.append('plan_de_compensacion', JSON.stringify(compensacionesSeleccionadas));

    // Beneficios Promaco
    let beneficiosSeleccionados = [];
    document.querySelectorAll('input[name="beneficio[]"]:checked').forEach(checkbox => {
        beneficiosSeleccionados.push(checkbox.value);
    });
    formData.append('beneficiospromaco', JSON.stringify(beneficiosSeleccionados));



    // 13. Nivel de la Prueba y Pruebas Psicométricas
    formData.append('nivel_prueba', document.getElementById('nivel_psicosmart').value);

    // 14. Montacargas y Equipo Pesado
    formData.append('montacargas', document.querySelector('input[name="montacargas"]').checked);
    formData.append('equipo_pesado', document.querySelector('input[name="equipo_pesado"]').checked);

    // 15. Indicadores dinámicos
    let indicadoresArray = [];
    document.querySelectorAll('input[name="indicador[]"]').forEach(input => {
        if (input.value.trim()) indicadoresArray.push(input.value.trim());
    });
    formData.append('principales_indicadores', JSON.stringify(indicadoresArray));

    // Enviar datos al servidor
    fetch('/PerfilesPuestos/RegistrarPerfilPuestos/', {
        method: 'POST',
        headers: { 'X-CSRFToken': getCookie('csrftoken') },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (!data.success) {
            Swal.fire({
                title: 'Error',
                text: data.message,
                icon: 'warning',
                confirmButtonText: 'Aceptar',
                customClass: { confirmButton: 'custom-alertas-button' }
            });
        } else {
            Swal.fire({
                title: 'Éxito',
                text: 'Perfil de puesto registrado correctamente',
                icon: 'success',
                confirmButtonText: 'Aceptar',
                customClass: { confirmButton: 'custom-alertas-button' }
            }).then(() => {
                window.location.href = "/PerfilesPuestos/";
            });
        }
    })
    .catch(error => {
        Swal.fire({
            title: 'Error',
            text: error.message,
            icon: 'error',
            confirmButtonText: 'Aceptar',
            customClass: { confirmButton: 'custom-alertas-button' }
        });
    });
};

        
        </script>
    </body>
</html>
