{% extends 'base.html' %}
{% load static %}
{% block title %}
  Motivos
{% endblock %}

{% block content %}
{% include 'menu.html' %}

{% include 'cerrarsesion.html' %}


  <div class="encabezado">
    <form action="{% url 'motivos' %}" method="GET">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><ion-icon name="search-outline" style="font-size: 25px"></ion-icon></span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar" name="search" value="{{ search }}" autocomplete="off" />
      </div>
    </form>
    <h1 class="titulo-encabezado">Motivos</h1>
    {% if perms.Reclutamiento.add_motivo %}
    <button type="button" class="btn btn classbotones" data-bs-toggle="modal" data-bs-target="#modalregistro">Registrar Motivo</button>
    {% endif %}
  </div>

  <div class="tabla">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motivo</th>
                <th>Estado</th>
                {% if perms.Reclutamiento.change_motivo %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in motivos %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre_motivo }}</td>
                    <td>
                        {% if item.activo %}
                        <span style="color:green"><b>ACTIVO</b></span>
                        {% else %}
                        <span style="color:red"><b>INACTIVO</b></span>
                        {% endif %}
                      </td>
                    {% if perms.Reclutamiento.change_motivo %}
                    <td>
                        <button type="button" class="btn btn classbotones" data-bs-toggle="modal" data-bs-target="#modaleditar" data-id="{{ item.id }}" onclick="llenarFormularioEditar(this)">
                            <ion-icon name="create-outline" class="icon"></ion-icon>
                        </button>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <!-- Enlace a la página anterior -->
            {% if motivos.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ motivos.previous_page_number }}&search={{ search }}&estado={{ estado }}">Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                </li>
            {% endif %}
    
            <!-- Rango de páginas -->
            {% for num in page_range %}
                {% if motivos.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}&search={{ search }}&estado={{ estado }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
    
            <!-- Enlace a la página siguiente -->
            {% if motivos.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ motivos.next_page_number }}&search={{ search }}&estado={{ estado }}">Siguiente</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Siguiente</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    
</div>
<br>

<div class="modal fade" id="modalregistro" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registrar Motivo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="register-form-motivo" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" name="nombre_motivo" id="nombre_motivo" class="form-control" placeholder="Nombre del motivo" required />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select class="form-control" name="estado" id="estado" required>
                            <option value="true">ACTIVO</option>
                            <option value="false">INACTIVO</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn classbotones">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modaleditar" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Motivo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="update-form-motivo">
                    <div class="form-group">
                        <input type="text" name="id_motivo_editar" id="id_motivo_editar" class="form-control" disabled />
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre_motivo_editar" name="nombre_motivo_editar" required />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="estadoeditar">Estado</label>
                        <select class="form-control" name="estadoeditar" id="estadoeditar" required>
                            <option value="true">ACTIVO</option>
                            <option value="false">INACTIVO</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn classbotones">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/modulos/motivos.js' %}"></script>
{% endblock %}
