{% extends 'base.html' %}
{% load static %}
{% block title %}Unidad de Negocio{% endblock %}
{% block content %}
    {% include 'menu.html' %}
    {% include 'cerrarsesion.html' %}
    <div class="encabezado">
        <form action="{% url 'unidadnegocio' %}" method="GET">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><ion-icon name="search-outline" style="font-size: 25px"></ion-icon></span>
                </div>
                <input type="text"
                       class="form-control"
                       placeholder="Buscar"
                       name="search"
                       value="{{ search }}"
                       autocomplete="off" />
            </div>
        </form>
        <h1 class="titulo-encabezado">Unidad de Negocio</h1>
        {% if perms.Reclutamiento.add_unidad_negocio %}
            <button type="button"
                    class="btn btn classbotones"
                    data-bs-toggle="modal"
                    data-bs-target="#modalregistro">Registrar Unidad de Negocio</button>
        {% endif %}
    </div>
    <div class="tabla">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Unidad de Negocio</th>
                    <th>Estado</th>
                    {% if perms.Reclutamiento.change_unidad_negocio %}<th>Acciones</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in unidades_negocio %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nombre_unidad_de_negocio }}</td>
                        <td>
                            {% if item.activo %}
                                <b style="color: green;">ACTIVO</b>
                            {% else %}
                                <b style="color: red;">INACTIVO</b>
                            {% endif %}
                        </td>
                        {% if perms.Reclutamiento.change_unidad_negocio %}
                            <td>
                                <button type="button"
                                        class="btn btn classbotones"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modaleditar"
                                        data-id="{{ item.id }}"
                                        onclick="llenarFormularioEditar(this)">
                                    <ion-icon name="create-outline" class="icon"></ion-icon>
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Paginación -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!-- Botón "Anterior" -->
                {% if unidades_negocio.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ unidades_negocio.previous_page_number }}&search={{ search }}">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Anterior</span>
                    </li>
                {% endif %}
                <!-- Mostrar un rango reducido de páginas -->
                {% for num in page_range %}
                    {% if unidades_negocio.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}&search={{ search }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <!-- Botón "Siguiente" -->
                {% if unidades_negocio.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ unidades_negocio.next_page_number }}&search={{ search }}">Siguiente</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Siguiente</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <br>
    <div class="modal fade"
         id="modalregistro"
         tabindex="-1"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar Unidad de Negocio</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="register-form-unidad_negocio" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text"
                                   name="nombre_unidad_negocio"
                                   id="nombre_unidad_negocio"
                                   autocomplete="off"
                                   class="form-control"
                                   placeholder="Nombre de la unidad de negocio"
                                   required />
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-control" name="estado" id="estado" required>
                                <option value="true">ACTIVO</option>
                                <option value="false">INACTIVO</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn classbotones">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="modaleditar"
         tabindex="-1"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editar Unidad de Negocio</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update-form-unidad_negocio">
                        <div class="form-group">
                            <input type="text"
                                   name="id_unidad_negocio_editar"
                                   id="id_unidad_negocio_editar"
                                   class="form-control"
                                   disabled />
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   id="nombre_unidad_negocio_editar"
                                   autocomplete="off"
                                   name="nombre_unidad_negocio_editar"
                                   required />
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="estadoeditar">Estado</label>
                            <select class="form-control" name="estadoeditar" id="estadoeditar" required>
                                <option value="true">ACTIVO</option>
                                <option value="false">INACTIVO</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn classbotones">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/modulos/unidad_negocio.js' %}"></script>
{% endblock %}
