.btn-grid {
    display: grid;
    grid-template-columns: 0fr 1fr; 
    gap: 5px; 
}

.btn-grid div {
    display: contents; 
}

.btn-grid button {
    width: 45px; 
}

.tabla {
    transition: 0.5s;
    margin-left: 0.1%;
    width: 99%;
}

.styled-table {
    width: 100%;
}

th {
    position: relative;
}

th .filter-icon {
    position: absolute;
    margin-left: 3%;
    cursor: pointer;
}

.filter-popup label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.filter-popup label input {
    margin-right: 10px;
}

.filter-popup {
    background-color: white;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 100;
    color: black;
    max-height: 200px;
    overflow-y: auto;
    width: 300px;
    padding: 10px;
    display: none;
}

#imagenControlPlaza{
    background-color: red;
}

.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-group {
    flex: 0 0 300px;
}