<!-- resources/views/errors/404.blade.php -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/errors.css' %}">

<html lang="es">
</head>

<body>
    <div class="encabezadocontroltiempo">
    <img src=" {% static '/img/logoblanco.png' %}" alt="Logo">
    </div>
    <div class="encabezadocontroltiempo2">
        <h2>PAGINA NO ENCONTRADA</h2>
    </div>
    <br><br><br><br><br>
    <div class="container">
        <h1>La página que buscas no existe</h1>
        <p>Parece que has ingresado una URL incorrecta.</p>
    </div>
</body>

</html>
