{% load static %}
<html lang="en">
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>
                {% block title %}Título predeterminado{% endblock %}
            </title>
            <link rel="icon"
                  href="{% static 'img/promacoico.ico' %}"
                  type="image/x-icon">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <!-- CSS -->
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/menu.css' %}">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <!-- Iconos -->
            <script type="module"
                    src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule
                    src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
            <!-- Fuentes de Google -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&display=swap"
                  rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&display=swap"
                  rel="stylesheet">
            <!-- Moment.js y Moment-Timezone -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
            <!-- CSS y JS de Select2 -->
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
                  rel="stylesheet" />
        </head>
    {% endblock %}
    <body id="body-pd">
        {% block content %}{% endblock %}
        <!-- Cargar jQuery Primero -->
        <script src="{% static 'js/plugins/jquery.min.js' %}"></script>
        <!-- Luego Cargar Scripts que Dependan de jQuery -->
        <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/sweetaler2.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> <!-- Select2 requiere jQuery -->
        <script src="{% static 'js/main.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
