{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Imprimir Contrato{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/contrataciones/contrataciones.css' %}">
    <link rel="icon" href="{% static 'img/promacoico.ico' %}" type="image/x-icon">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</head>

<body>
    <div class="container">
        <form id="register-form-contratacion">
            <input type="hidden" name="contratacion_id" value="{{ contratacion.id }}">
            <div class="header-section">
                <table class="header-table">
                    <tr>
                        <td class="header-logo" rowspan="4">
                        {% if contratacion.nombre_empresa|lower == "promaco" %}
                            <img src="{% static 'img/LOGOPRINCIPAL.png' %}" alt="Logo PROMACO">
                            <p>Proveedora de Materiales de Construcción S de R.L.</p>
                        {% elif contratacion.nombre_empresa|lower == "msgad" %}
                            <img src="{% static 'img/logo_multi.png' %}" alt="Logo MSGAD">
                        {% elif contratacion.nombre_empresa|lower == "importadora" %}
                            <img src="{% static 'img/importadora.png' %}" alt="Logo Importadora">
                        {% elif contratacion.nombre_empresa|lower == "urbanizadora" %}
                            <img src="{% static 'img/urbanizadora.png' %}" alt="Logo Urbanizadora">
                        {% elif contratacion.nombre_empresa|lower == "triturados" %}
                            <img src="{% static 'img/triturados.png' %}" alt="Logo Triturados">
                        {% else %}
                            <img src="{% static 'img/default.png' %}" alt="Logo por defecto">
                        {% endif %}
                        </td>
                        <td class="header-title" rowspan="4">Registro de Contratación</td>
                        <td class="header-info">
                            <p><strong>CÓDIGO:</strong> RRHH-RE-10</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="header-info">
                            <p><strong>VERSIÓN:</strong> 00</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="header-info">
                            <p><strong>FECHA DE ACTUALIZACIÓN:</strong> 08/03/2024</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="header-info">
                            <p><strong>ELABORADO POR:</strong> DEPTO. PROCESO</p>
                        </td>
                    </tr>
                </table>
        
                <div class="photo-div" id="photoDiv">
                    <div class="photo-placeholder" id="photoPlaceholder" style="cursor: pointer;">
                        {% if contratacion.ruta %}
                            <img src="/static/img/contrataciones/{{ contratacion.nombreimagen }}" alt="Foto" class="uploaded-image" id="uploadedImage" style="width: 100px; height: auto;" />
                        {% else %}
                            Foto
                        {% endif %}
                    </div>
                    <input type="file" id="photoInput" accept="image/*" style="display: none;" onchange="previewImage(event)">
                </div>
                
                
            </div>
            <br>

            <!-- Datos Generales -->
            <fieldset>
                <legend>Datos Generales</legend>
                <div class="row1">
                    <label>Primer Ingreso <input type="radio" id="tipoIngresoPrimer" name="tipoIngreso" value="PRIMER INGRESO" {% if contratacion.tipo_contratacion == 'PRIMER INGRESO' %}checked{% endif %}></label>
                    <label>Reingreso <input type="radio" id="tipoIngresoReingreso" name="tipoIngreso" value="REINGRESO" {% if contratacion.tipo_contratacion == 'REINGRESO' %}checked{% endif %}></label>
                </div>
                <div class="row">
                    <label>Nombre Completo: <input type="text" id="primerNombre" name="primerNombre" value="{{ contratacion.nombre1 }} {{ contratacion.nombre2 }} {{ contratacion.apellido1 }} {{ contratacion.apellido2 }}"  autocomplete="nope"></label>
                </div>
                <div class="row">
                    <label>Fecha de nacimiento: <input type="date" id="fechaNacimiento"  name="fechaNacimiento" value="{{ contratacion.fecha_nacimiento|date:'Y-m-d' }}" class="date-input"></label>
        
                    <label>Municipio: <input type="text" id="municipio" name="municipio"  value="{{ contratacion.municipio }}"></label>
                    <div class="row">
                        <label>Género</label>
                        <div class="radio-group">
                            <label>Masculino <input type="radio" id="generoMasculino" name="genero" value="M" {% if contratacion.genero == 'M' %}checked{% endif %}></label>
                            <label>Femenino <input type="radio" id="generoFemenino" name="genero" value="F" {% if contratacion.genero == 'F' %}checked{% endif %}></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label style="display: flex; align-items: center;">
                        Dirección exacta: 
                        <input type="text" style="width: 500px;" id="direccion"  name="direccion" value="{{ contratacion.direccionexacta }}" autocomplete="nope">
                    </label>
                    <label style="display: flex; align-items: center;">
                        Cédula:
                        <input type="text" id="cedula" name="cedula"  value="{{ contratacion.dni }}" maxlength="13" title="Número de identidad no válido, debe llevar 13 números" pattern="\d{13}" autocomplete="nope" oninput="validateNumber(this)">
                    </label>
                </div>                
                <div class="row">
                    <label>Estado Civil:
                        <input type="text" id="estadoCivil"  name="estadoCivil" value="{{ contratacion.estado_civil }}">
                    </label>
                    <label>Tiene hijos <input type="checkbox" id="hijos" name="hijos" {% if contratacion.hijos %}checked{% endif %}></label>
                    <label>Profesión u oficio: <input type="text"  id="profesion" name="profesion" value="{{ contratacion.profecion_oficio }}" style="width: 250px;" autocomplete="nope"></label>
                    <label>Pais: <input type="text" id="pais"  name="pais" value="{{ contratacion.pais.nombre_pais }}"></label>
                </div>
                <div class="row">
                    <label>Correo Electrónico: <input type="email" id="correo"  name="correo" value="{{ contratacion.correo }}" style="width: 200px;" autocomplete="nope"></label>
                    <label>Departamento: <input type="text" id="departamento" style="width: 150px;"  name="departamento" value="{{ contratacion.departamento }}"></label>
                    <label>Número de celular: <input type="text" id="telefono" name="telefono" value="{{ contratacion.telefono }}" autocomplete="nope" oninput="validateNumber(this)"></label>
                </div>
            </fieldset>
        
            <!-- En Caso de Emergencia -->
            <fieldset>
                <legend>En Caso de Emergencia Avisar a</legend>
                <div class="row">
                    <label>1.Nombre:<input type="text"  id="emergencia1" name="emergencia1" value="{{ contratacion.nombre1_emergencia }}"></label>
                    <label>Parentesco: <input type="text"  id="parentesco1" name="parentesco1" value="{{ contratacion.parentesco1 }}"></label>
                    <label>Teléfono: <input type="text"  id="telefonoEmergencia1" name="telefonoEmergencia1" value="{{ contratacion.telefonoemergencia1 }}" oninput="validateNumber(this)"></label>
                </div>
                <div class="row">
                    <label>2.Nombre:<input type="text" id="emergencia2"  name="emergencia2" value="{{ contratacion.nombre2_emergencia }}"></label>
                    <label>Parentesco: <input type="text" id="parentesco2"  name="parentesco2" value="{{ contratacion.parentesco2 }}"></label>
                    <label>Teléfono: <input type="text" id="telefonoEmergencia2"  name="telefonoEmergencia2" value="{{ contratacion.telefonoemergencia2 }}" oninput="validateNumber(this)"></label>
                </div>
            </fieldset>
        
            <!-- Nivel Educativo -->
            <fieldset>
                <legend>Nivel Educativo</legend>
                <div class="row">
                    <label>Alfabeta <input type="radio" id="alfabeta" name="alfabeta" value="ALFABETA" {% if contratacion.nivel_educativo == 'ALFABETA' %}checked{% endif %}></label>
                    <label>Analfabeta <input type="radio" id="analfabeta" name="alfabeta" value="ANALFABETA" {% if contratacion.nivel_educativo == 'ANALFABETA' %}checked{% endif %}></label>
                    <label>Último grado de estudio; <input type="text"   id="ultimoGrado" name="ultimoGrado" value="{{ contratacion.ultimo_grado_estudio }}" style="width: 200px;"></label>
                    <label><input type="text" id="ultimogradodetalle"  name="ultimogradodetalle" value="{{ contratacion.ultimogradodetalle }}" style="width: 300px;" autocomplete="nope"></label>
                </div>
                <div class="row">
                    <label>¿Tiene algún Padecimiento o enfermedad?</label>
                    <label>Si <input type="radio" id="padecimientoSi" name="padecimiento" value="si" {% if contratacion.padecimiento %}checked{% endif %}></label>
                    <label>No <input type="radio" id="padecimientoNo" name="padecimiento" value="no" {% if not contratacion.padecimiento %}checked{% endif %}></label>
                </div>
                <div class="row" id="detalleEnfermedad" style="display: {% if contratacion.padecimiento %}block{% else %}none{% endif %};">
                    <label>Detalle la enfermedad: <input type="text" autocomplete="nope"  id="detalleEnfermedadInput" name="detalleEnfermedad" value="{{ contratacion.detalle_enfermedad }}"></label>
                </div>                
            </fieldset>
        
            <!-- Datos Laborales -->
            <fieldset>
                <legend>Datos Laborales</legend>
                <div class="row">
                    <label>Puesto de trabajo: <input type="text"  style="width: 350px; margin-left:-20px" id="puesto" name="puesto" value="{{ contratacion.puestos.nombre_puestos }}"></label>
                    <label>Unidad de negocio: <input type="text"  id="unidadnegocio" name="unidadnegocio" value="{{ contratacion.unidad_de_negocio.nombre_unidad_de_negocio }}"></label>
                    <label>Salario: <input type="text" id="salario"  name="salario" value="{{ contratacion.salario }}" oninput="validateNumber(this)" autocomplete="nope"></label>
                </div>
        
                <div class="row">
                    <label>Comisión: <input type="text"  id="comision" name="comision" value="{{ contratacion.comision }}" oninput="validateNumber(this)" autocomplete="nope"></label>
                    <label>Bofa: <input type="text"  id="bofa" name="bofa" value="{{ contratacion.bofa }}" oninput="validateNumber(this)" autocomplete="nope"></label>
                    <label>Sucursal: <input type="text"  id="sucursal" name="sucursal" value="{{ contratacion.sucursal.nombre_sucursal }}"></label>
                    <label>Tipo de contrato: <input type="text"  id="tipocontrato" name="tipocontrato" value="{{ contratacion.tipo_contrato.nombre_tipo_de_contrato }}"></label>
                </div>
                <div class="row">
                    <label>Fecha de ingreso: <input type="date" id="fechaIngreso"   name="fechaIngreso" value="{{ contratacion.fecha_ingreso|date:'Y-m-d' }}" class="date-input"></label>
                    <label>Fecha de vencimiento: <input type="date" id="fechavencimiento"  name="fechavencimiento" value="{{ contratacion.fecha_vencimiento|date:'Y-m-d' }}" class="date-input"></label>
                    <label>Departamento de la empresa: <input type="text" id="departamentoEmpresa"  name="departamentoEmpresa" value="{{ contratacion.departamento_empresa.nombre_departamento }}"></label>
                </div>
                <div class="row">
                    <label>Dirección de la Empresa: <input type="text" id="direccionempresa"  name="direccionempresa" value="{{ contratacion.direccionempresa }}"></label>
                </div>
                <div class="row">
                    <label>Nombre de la Empresa: <input type="text"  id="nombreempresa" name="nombreempresa" value="{{ contratacion.nombre_empresa }}"></label>
                    <label>Teléfono de la Empresa: <input type="text"  id="telefonoempresa" name="telefonoempresa" value="{{ contratacion.telefono_empresa }}"></label>
                </div>
            </fieldset>
        
            <!-- Autorización Beneficiario -->
            <fieldset>
                <legend>Autorizo como beneficiario en caso de fallecimiento a:</legend>
                <div class="row">
                    <label>Nombre: <input type="text" id="nombreBeneficiario"  name="nombreBeneficiario" value="{{ contratacion.nombre_beneficiario }}"></label>
                    <label>Identidad: <input type="text" id="identidadBeneficiario" style="width: 160px;"  name="identidadBeneficiario" value="{{ contratacion.dni_beneficiario }}" oninput="validateNumber(this)" title="Número de identidad no válido, debe llevar 13 números" pattern="\d{13}"></label>
                    <label>Parentesco: <input type="text" id="parentescoBeneficiario"  name="parentescoBeneficiario" value="{{ contratacion.parentesco_beneficiario }}"></label>
                    <label>Porcentaje: 
                        <div style="position: relative; display: inline-block;">
                            <input type="text"  id="porcentajeBeneficiario" name="porcentajeBeneficiario" value="{{ contratacion.porcentaje }}" oninput="validateNumber1(this)" style="padding-right: 20px;">
                            <span style="position: absolute; right: 50px; top: 50%; transform: translateY(-50%);">%</span>
                        </div>
                    </label>
                </div>
            </fieldset>
            <br><br>
            <!-- Firma o Huella -->
            <div class="footer">
                <hr style="width: 400px; background-color: black; height: 2px; color:black;">
                <p>Firma o Huella</p>
            </div>
        
            <div class="footer">
                <button type="submit" class="print-button" id="guardarButton">Guardar</button>
            </div>
        </form>        
    </div>

    <script src="{% static 'js/contrataciones/contrataciones.js' %}"></script>
    <script src="{% static 'js/sweetaler2.min.js' %}"></script>
    <script>
        window.onload = function() {
            window.print();  
        };
    
        window.onafterprint = function() {
            window.location.href = "{% url 'contrataciones' %}";  
        };
    </script>
</body>

</html>
